body{
    margin: 0%;
}
.banner_container{
background-color: pink;
display: flex;
height: auto;
}
.b_content{
margin: 200px 50px;


}
.btn_primary{
    padding: 10px 20px;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 5%;
}
.b_image{
margin-right: 0px;

}